.form-div {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 5;
    top: 0;
    left: 0;
    right: 0;
    margin:0;
    padding-top: 55px;
    background-color: rgba(0, 0, 0, 0.58);
}
.form-div>div>.portlet form .form-body{
    max-height: 65vh;
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 10px;
}